###############################################################
# Core Science APIs - Dev Migrations
# migrations.yml
#
# This contains the database migration utilities for updating
# and repairing the database. For database backup and snapshots,
# please see the `config/extras/db` folder.
#
# note: Do not run this entire file. In the vast majority of
# cases, it is sufficient to run the info, migrate, and validate
# tasks in succession to handle the database update in its
# entirety.
#
###############################################################

migrate:
  image: {{ core_docker_registry_account }}/agave-migrations:$AGAVE_VERSION
  command: "flyway:migrate"
  environment:
    MYSQL_DATABASE: agave-api
    MYSQL_USER: {{ mysql_core_user }}
    MYSQL_PASSWORD: {{ mysql_core_password }}
    MYSQL_HOST: {{ mysql_core_host }}:{{ mysql_core_port }}

clean:
  image: {{ core_docker_registry_account }}/agave-migrations:$AGAVE_VERSION
  command: "flyway:clean"
  extra_hosts:
    - 'mysql.example.com:192.168.99.100'
  environment:
    MYSQL_DATABASE: agavecore
    MYSQL_USER: agaveuser
    MYSQL_PASSWORD: password
    MYSQL_HOST: mysql.example.com

info:
  image: {{ core_docker_registry_account }}/agave-migrations:$AGAVE_VERSION
  command: "flyway:info"
  extra_hosts:
    - 'mysql.example.com:192.168.99.100'
  environment:
    MYSQL_DATABASE: agave-api
    MYSQL_USER: {{ mysql_core_user }}
    MYSQL_PASSWORD: {{ mysql_core_password }}
    MYSQL_HOST: {{ mysql_core_host }}:{{ mysql_core_port }}

baseline:
  image: {{ core_docker_registry_account }}/agave-migrations:$AGAVE_VERSION
  command: "flyway:baseline"
  extra_hosts:
    - 'mysql.example.com:192.168.99.100'
  environment:
    MYSQL_DATABASE: agavecore
    MYSQL_USER: agaveuser
    MYSQL_PASSWORD: password
    MYSQL_HOST: mysql.example.com

repair:
  image: {{ core_docker_registry_account }}/agave-migrations:$AGAVE_VERSION
  command: "flyway:info"
  extra_hosts:
    - 'mysql.example.com:192.168.99.100'
  environment:
    MYSQL_DATABASE: agavecore
    MYSQL_USER: agaveuser
    MYSQL_PASSWORD: password
    MYSQL_HOST: mysql.example.com

