#!/bin/bash

ARG=$1

if [ "$ARG" = "" ]; then
  ARG=nightly
fi

docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/apache-api-proxy:alpine
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/jobs-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/files-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/apps-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/systems-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/monitors-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/metadata-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/notifications-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/tramsforms-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/postits-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/usage-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/tenants-api:$ARG
docker pull {{ core_docker_private_registry }}{{ core_docker_registry_account }}/logging-api:$ARG
