body,p,div,a,span,h1,h2,h3,h4{

    font-family: 'Helvetica Neue' ,helvetica,arial,'lucida grande',sans-serif;
}
body{
    background-image: url(../images/images/Map-BG.jpg);
    background-size: 100% auto;
    background-repeat:no-repeat;

    color: #494d4e;
}

.container{
   /* width: 100%;*/
    position: relative;
    top: 50px;
    /*left: 100px;*/
    text-align: center;
    margin: 0 auto; 
}

.row{
    margin-left:-10px; 
}


.header-strip{
    background:#5e5e5e;
    height:10px;
    display: none;
}
.header-back{
    /*background:transparent url(../images/repeat.jpg) repeat-x left top;*/
    height:85px;
   
}
.header-text{
    background:transparent;
    color: #cccccc;
    font-size:13px;
    text-align:center;
}
.header-text strong{
    color:#494d4e;
    font-size:14px;
    text-align: center;
    margin: 0 auto;
}
.logo{
    background:transparent url(../images/images/ds-logo-horiz.png) no-repeat right top;
    background-size: 300px 80px;
    display: inline-block;
    cursor:pointer;
    height: 110px;
    position:relative;
    background-position: center;
    width: 300px;
    float: left;
}

.tacc-logo{
   background: transparent url(../images/images/tacc-logo-outline.svg) no-repeat center top; 
   display:inline-block;
   background-position: center;
   height:110px;
   width:268px;
   position:relative;
   float:left;
   background-size:275px 80px;
}

.header-logo{
   width: 940px;
   position: relative;
   text-align: center;
   margin: 0 auto;
}
.content-section{
    text-align:center;
    padding:10px 0px 0px 50px;
    margin: 0px 42px 0px;
    width:768px;
    color:#494d4e;
    line-height: 24px;
    font-size: 18px;
    background-color: #eee; 
}
.content-section form.well{
    text-align:left;
}

.form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}


.directions{
    width: 100%;
    margin-top: 100px;
    padding: 50px 10px 0px 0px;
    margin-left:0px;
}

.btn-primary {
  background-color: #316a90;
  *background-color: #316a90;
  background-image: -ms-linear-gradient(top, #316a90, #4583ac);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#316a90), to(#4583ac));
  background-image: -webkit-linear-gradient(top, #316a90, #4583ac);
  background-image: -o-linear-gradient(top, #316a90, #4583ac);
  background-image: -moz-linear-gradient(top, #316a90, #4583ac);
  background-image: linear-gradient(top, #316a90, #4583ac);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#316a90', endColorstr='#4583ac', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.login-header{
    background:#e86d1f;
    color:#fff;
    padding:5px;

     -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;

    -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;

    margin-top:10px;
}

.forgot-password{
    margin-top: 15px;
}

.form-actions{
    padding:0;
}
.form-horizontal .control-label{
    width:80px;
    margin-right: 5px;
    float: left;
    position: relative;
    left: 14px;
    text-align: right;
}
.form-horizontal .form-actions{
    padding-bottom:0;
    margin: 0 auto;
}

.identity-box{
   width: 100%;
   margin: 0 auto;
   position:relative;
}

h1, h2, h3, h4, h5, h6{
    color: #494d3e;
}
h1{
    margin-top:20px;
    /*color:#fff;*/
    font-weight:bolder;
    font-size:42px;
    line-height: 44px;
    text-transform: uppercase;
}

h3{
   /* margin-top:20px;
    color:#fff;*/
    margin-bottom: 10px;
    font-weight:bolder;
    font-size:42px;
    line-height: 44px;
    text-transform: uppercase;
}
.different-login-container{
    background:#eee;;
    padding:10px;
   -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
.main-login-container{
/* background:transparent url(../images/container-back.png) repeat left top;*/
    background-color: #eee;
   max-width: 400px;
    padding: 30px;
    margin: 10px auto 0;
}
.vertical-slitter{
    border-right:solid 1px #fff;
}
.form-actions{
    border-top:none;
    background:transparent;
}
.btn-primary.active
{
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border:2px solid #2e6da4;	  
  background: #337ab7; /* Old browsers */
/*background: -moz-linear-gradient(top, #337ab7; 0%, #000000 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337ab7), color-stop(100%,#000000)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, #337ab7 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, #337ab7 0%,#000000 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top, #337ab7 0%,#000000 100%); /* IE10+ */
/*background: linear-gradient(to bottom, #337ab7 0%,#000000 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
padding:5px 10px;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
background: #2e6da4; /* Old browsers */
/*background: -moz-linear-gradient(top, #337ab7 0%, #000000 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337ab7), color-stop(100%,#000000)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, #337ab7 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, #337ab7 0%,#000000 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top, #337ab7 0%,#000000 100%); /* IE10+ */
/*background: linear-gradient(to bottom, #337ab7 0%,#000000 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#2e6da4',GradientType=0 ); /* IE6-9 */
border:2px solid #337ab7;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-primary-deny {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	  
background: #C94135; /* Old browsers */
background: -moz-linear-gradient(top, #C94135 0%, #4E0505 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C94135), color-stop(100%,#4E0505)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #C94135 0%,#4E0505 100%); /* IE10+ */
background: linear-gradient(to bottom, #C94135 0%,#4E0505 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C94135', endColorstr='#4E0505',GradientType=0 ); /* IE6-9 */
padding:5px 10px;

}

.btn-primary-deny:hover,
.btn-primary-deny:focus,
.btn-primary-deny:active,
.btn-primary-deny.active,
.btn-primary-deny.disabled,
.btn-primary-deny[disabled] {
  color: #ffffff;
 
background: #C94135; /* Old browsers */
background: -moz-linear-gradient(top, #C94135 0%, #4E0505 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C94135), color-stop(100%,#4E0505)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #C94135 0%,#4E0505 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #C94135 0%,#4E0505 100%); /* IE10+ */
background: linear-gradient(to bottom, #C94135 0%,#4E0505 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C94135', endColorstr='#4E0505',GradientType=0 ); /* IE6-9 */

}

.btn-primary-deny:active,
.btn-primary-deny.active {
  background-color: #CA1909 \9;
}

.marL30{
	margin-left: 30% !important;
}

.marL32 {
	margin-left: 32% !important;
}

h2{
   font-weight:bold;
   font-family: 'Helvetica Neue', sans-serif;
   text-transform: uppercase;
   font-size: 24px;
   line-spacing: 30px;
   
}
.different-login-container a.main-link{
    display:block;
    background:transparent url(../images/icon-default.png) no-repeat left top;
    width:75px;
    height:76px;
    float:left;
    margin-right:10px;
    padding-left:74px;
}
#claimed_id{
   background:#fff url(../images/openid-input.gif) no-repeat left 4px;
   padding-left:20px;
}
.slidePopper{
position:absolute;
margin-top:70px;
padding:10px;
background:#fff;
border:solid 1px #ccc;
border-radius:5px;
z-index:6;
}
.slidePopper-cancel{
cursor:pointer;
}
.overlay{
background:#ccc;
opacity:0.5;
width:500px;
height:500px;
position:absolute;
top:0;
left:0;
z-index:5;
}
.go-btn{
	margin-top:-8px;
}

.log-header{
float:left;
margin: 0 auto;
text-align:center;
width: 95%;
}

@media (min-width: 1200px){
   .logo{background-position: center;
   left: 45%;}	
}

