#!/bin/bash

ARG=$1

if [ "$ARG" = "" ]; then
  ARG=latest
fi

docker pull jstubbs/haproxy_auth:$ARG
docker pull {{ apim_httpd_image }}:$ARG
docker pull {{ apim_image }}:$ARG
docker pull jstubbs/agave_clients_dedicated:$ARG
docker pull jstubbs/agave_id_dedicated:$ARG
